@font-face {
    font-family: 'saxmono';
    src: url("../fonts/saxmono-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'envy';
    src: url("../fonts/envy_code_r.eot");
    src: url("../fonts/envy_code_r.eot?#iefix") format('embedded-opentype'),
         url("../fonts/envy_code_r.woff2") format('woff2'),
         url("../fonts/envy_code_r.woff") format('woff'),
         url("../fonts/envy_code_r.ttf") format('truetype'),
         url("../fonts/envy_code_r.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "saxmono";
    font-size: 16px;
    background-color: #202020;
    color: #baba9e;
}
.container {
	display: flex;
	flex-wrap: wrap
}
.section {
	margin: auto;
	width: 599px;
}
.row {
	display: flex;
}

.col {
	flex: 1 1 0%
}
.col-left {
	text-align: left;
}
.col-mid {
	text-align: center;
}
.col-right {
	text-align: right;
}
img#header {
	height: 43px;
	width: auto;
}
img#rss {
	height: 21px;
	width: auto;
}

h1,h2,h3,h4,h5 {
	text-transform: uppercase;
	font-weight: normal;
}
h1 {
	color: #753747;
	margin: 0px;
}
h2,h3,h4,h5 {
	color: #956c74;
}
a {
    color: #71bb94;
    text-decoration: none;
}
a:active,
a:hover,
a:focus {
    text-decoration: none;
    color: #55776e;
    background: transparent;
}
hr {
    margin-top: 3px;
    margin-bottom: 1px;
    border-top: solid 1px #3d3a3b;
	border-bottom: #3d3a3b;
}
img[src*="#fitwidth"] {
	border: solid 2px #3d3a3b;
	border-radius: 2px;
  	width:100%;

  	-ms-transition: transform 0.25s ease-in-out 0s;

  	-moz-transition: transform 0.25s ease-in-out 0s;

  	-webkit-transition: transform 0.25s ease-in-out 0s;

  	transition: transform 0.25s ease-in-out 0s;
}
img[src*="#fitwidth"]:hover {
  -ms-transform: scale(2.04);
  -ms-transition: transform 0.25s ease-in-out 0s;

  -moz-transform: scale(2.04);
  -moz-transition: transform 0.25s ease-in-out 0s;

  -webkit-transform: scale(2.04);
  -webkit-transition: transform 0.25s ease-in-out 0s;

  transform: scale(2.04);
  transition: transform 0.25s ease-in-out 0s;
}
table {
	border: 2px solid #929eb5;
	border-radius: 2px;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #202020;
	padding: 2px;
}
table thead {
	text-transform: uppercase;
	text-align: left;
}
table tr th,
table tr td {
	border: 2px solid #3d3a3b;
	border-radius: 2px;
	padding: 6px 13px;
}
.pagination > .container {
	justify-content: left;
}
.pagination > .container > div > a.active {
	color: #3d3a3b;
}
.content > h3 {
    color: #956c74;
    text-transform: uppercase;
}
.content > h4, h5 {
    color: #956c74;
    text-transform: uppercase;
}
.content > .article.header > h1 {
	color: #956c74;
}
.content > .article-container > .article.header > h1.article.title {
	color: #956c74;
}
.content > .article-container > .article.markdown-body {
	line-height: 1.3em;
}
.content > .article-container > .article.markdown-body > ul {
    list-style: '- ';
}
.content > .article.navigation > .container {
	justify-content: space-between;
	text-transform: uppercase;
}
.content > ul.note.list {
	padding-left: 0px;
}
.content > ul.note.list > li.item {
    max-width: 90%;
    margin-left: 5%;
    color: #baba9e;
	margin: 0 0 20px;
}
.content > ul.note.list > li.item > ul {
	padding-left: 20px;
}
.content > ul.note.list > li.item > ul > li > a > h4.note.title:hover {
	color: #71bb94;
}
.content > ul.note.list > li.item > ul > li,
.content > ul.note.list > li.item > ul > li > p.note.date,
.content > ul.note.list > li.item > ul > li > a > h4.note.title {
	display: inline;
}
.content > a {
    color: #71bb94;
	te.t
    text-decoration: none;
}
.content > p > a {
    color: #71bb94;
    text-decoration: none;
}
.content > p > a:hover,
a:active,
a:focus {
    color: #71bb94;
    text-decoration: none;
}
.content > ul > li > a {
    color: #71bb94;
    text-decoration: none;
}
.content > ul > li > a:hover {
    color: #71bb94;
    text-decoration: none;
}
.content > section.article.navigation > .container > div > a.link {
	color: #956c74;
}
.content > section.article.navigation > .container > div > a.link > span {
	color: #71bb94;
}
ul {
    list-style: none;
}
pre {
    /*max-width: 70%;*/
    color: #d2d074;
    background-color: #171717;
    font-family: 'envy', mono;
    font-size: 13px;
    border-radius: 2px;
    border-color: #3d3a3b;
    border-width: 2px;
    border-style: solid;
	padding: 9.5px;
	overflow: auto;
}
pre > code {
    color: #d2d074;
	background-color: #171717;
    font-family: 'envy', mono;
	padding: 0px;
}
code {
    color: #bbbbbb;
    background-color: #454545;
    padding: 0px 4px 0px 4px;
    border-radius: 2px;
	border-color: #3d3a3b;
    font-family: 'envy', mono;
    font-size: 13px;
}
