{{- if and (not (eq .Params.single true)) (or .PrevInSection .NextInSection) -}}
<section class="article navigation">
		<div class="container">
			{{- with .NextInSection -}}
				<div>
					<a class="link" href="{{- .RelPermalink -}}"><span class="li">&larr;&nbsp;</span>{{- .Title | safeHTML -}}</a>
				</div>
			{{- end -}}
			{{- with .PrevInSection -}}
				<div>
					<a class="link" href="{{- .RelPermalink -}}">{{- .Title | safeHTML -}}<span class="li">&nbsp;&rarr;</span></a>
				</div>
			{{- end -}}
		</div>
</section>
{{- end -}}
